#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul{
  padding: 0;
}

ul li {
  list-style-type: none;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.card-2 button{
  margin: 5px 0;
}
/* 
.card-2 form{
  text-align: left;
} */

#exercises-holder li{
  margin: 15px 0;
  padding: 15px 0;
  background-color: #1a1a1a;
  border-radius: 5px;
}

#exercises-holder h3{
  margin: 0 0 15px 0;
}

/* Dropdown Styles */
.exploreDropDown {
  margin: 5px 0;
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px;
  border: 1px transparent;
  background-color: #1a1a1a;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.exploreDropDown option {
  font-size: 16px;
  padding: 5px;
}

/* Optional: Style the selected option text */
p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.read-the-docs {
  color: #888;
}
